/* CSS DOCUMENT */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    20% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}