/* CSS DOCUMENT */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;}ol, ul{list-style:none;}blockquote, q{quotes:none;}blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}img{width:100%;}


/*------------------------------Global Elements--------------------------------*/

:root{
    --black: #5D5D5D;
    --white: #f8f8f8;
    --blue: #11b3bc;
}

/* html{overflow-x: hidden;} */

body{
    background-color: var(--white);
    /* overflow-x: hidden; */
}

h1{
    font-family: utopia-std-display, serif;
    font-weight: 700;
    font-size: 4.3rem;
    color: var(--white);
}

h2{
    font-family: utopia-std-display, serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.1;
    color: var(--black);
}

h3{
    font-family: utopia-std-display, serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: .8rem;
}

h4{
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: .4rem;
}

p{
    font-family: depot-new-web, sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--black);
}

a{text-decoration: none;}

button{
    cursor: pointer;
    padding: .5rem 1rem;
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    color: var(--white);
    border: var(--white) solid .125rem;
    border-radius: 2.5rem;
    transition: ease .3s;
}

button:hover{
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
    transform: translateY(-.1em)
}

button:focus{outline: none;}

@media only screen and (max-width: 70rem){
    h1{font-size: 3.5rem}
    h2{font-size: 2.8rem}
    h3{font-size: 1.7rem}
    h4{font-size: 1rem}
}

@media only screen and (max-width: 50rem){
    h1{font-size: 3rem}
    h2{font-size: 2.7rem}
    h3{font-size: 1.4rem}
    p{font-size: 1rem;}
    button{font-size: .9rem;}
}

/*------------------------------Circles--------------------------------*/

.green-circle{
    opacity: .8;
    position: absolute;
    overflow: hidden;
    background-image: url(/assets/global/green-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotating 20s linear infinite;
}

.blue-circle{
    opacity: .7;
    position: absolute;
    overflow: hidden;
    background-image: url(/assets/global/blue-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotating 60s linear infinite;
}

/*------------------------------Cards--------------------------------*/

.card-popout{
    position: relative;
    max-width: 22rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2em 2em #0e585133
}

.card-popout .card-copy{
    position: relative;
    padding: 6.5rem 2.2rem 2.2rem 2.2rem;
    background: #ffffff;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 65%, rgba(255,255,255,0) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-1 img{
    width: 80%;
    margin: -6rem 0 -12rem 15%;
}

#card-2 img{
    width: 80%;
    margin: -6rem 0 -9rem 15%;
}

#card-3 img{
    width: 50%;
    margin: -6rem 0 -14rem 35%;
}

.card-bubble{
    position: relative;
    max-width: 25rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2em 2em #41414133;
    padding: 3.5rem 2.2rem 2.2rem;
}

.card-bubble .bubble{
    vertical-align: middle;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 50%;
}

.bubble img{height: 100%;}

#card-4 .bubble{background-color: #CEECE9;}

#card-5 .bubble{background-color: #D3EEEF;}

/*------------------------------Menu--------------------------------*/

.menu-wrapper{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    /* margin-top: -1rem; */
    transition: ease .3s;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 3em;
}

.menu img{
    display: none;
    width: 130px;
    transition: ease .3s;
}

@media only screen and (max-width: 50em){
    .menu-wrapper{height: 70px;}
    .menu{padding: 0 1.5em;}
    .menu img{width: 100px;}
}

/* For Javascript to activate */
.js-menu-wrapper{
    background-color: #FFF;
    /* transform: translateY(1rem); */
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.06);
}

.js-menu{justify-content: space-between;}

/*------------------------------Hero--------------------------------*/

.hero-wrapper{
    overflow: hidden;
    background-color: #1E6B89;
    background-image: url(/assets/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) 100%;
    background-size: contain;
}

.hero{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 6em;
    max-width: 90em;
    height: 100vh;
    min-height: 30em;
    max-height: 70rem;
}

.hero .copy{
    animation: fade-in .8s ease-out 1;
    display: flex;
    position: relative;
}

.hero .copy img{
    width: 110px;
    margin-bottom: .5em;
}

.hero h1{
    color: var(--white);
    padding-bottom: .2em;
    max-width: 7em;
    z-index: 9;
}

.hero p{
    color: var(--white);
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.8;
    max-width: 25em;
}

.hero .green-circle{
    height: 90vh;
    width: 90vh;
    left: -400px;
    top: 30vh;
}

.hero .blue-circle{
    height: 130vh;
    width: 130vh;
    left: -350px;
    top: -250px;
}

@media only screen and (max-width: 70em){
    .hero-wrapper{background-position: calc(100% + 350px) 100%;}

    .hero p{font-size: 1.3rem}
}

@media only screen and (max-width: 50em){
    .hero-wrapper{background-image: initial;}

    .hero{padding: 0 2em;}

    .hero .copy img{width: 90px;}

    .hero .green-circle{
        height: 700px;
        width: 700px;
        left: -300px;
        top: 300px;
    }

    .hero .blue-circle{
        height: 1000px;
        width: 1000px;
        left: -400px;
        top: -200px;
    }

    .hero p{font-size: 1.2rem}
}

/*------------------------------Two Column--------------------------------*/

.two-column-wrapper{
    background-color:#EAF3F3;
    position: relative;
}

.two-column{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 80rem;
}

.two-column .copy{
    flex-basis: 40%;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 3rem;
    height: 100vh;
    max-width: 30rem;
}

.two-column .cards{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin: 15rem 2rem;
}

@media only screen and (max-width: 50em){
    .two-column{
        display: block;
        padding-bottom: 5rem;
    }

    .two-column .copy{
        position: static;
        height: 50vh;
    }

    .two-column .cards{
        margin: 3rem 1rem 0;
        gap: 12rem
    }
}

/*------------------------------Study--------------------------------*/

.study-wrapper .copy-wrapper{
    max-width: 70rem;
    padding: 2rem;
    margin: 10rem auto;
}
.study-wrapper .copy{
    max-width: 55rem;
}

.study-wrapper .cards-wrapper{
    background: linear-gradient(0deg, var(--white) 0%, var(--white) 15%, rgba(255,255,255,0) 100%), url(/assets/study/pexels-andrea-piacquadio.jpg);
    background-size: cover;
    background-position: 0% 45%;
}

.study-wrapper .cards{
    position: relative;
    z-index: 0;
    max-width: 70rem;
    margin: 0 auto 10rem;
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.study-wrapper #card-4{
    margin-top: -11rem;
}

.study-wrapper .image-fade{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: lawngreen;
    z-index: 9;

}


/*------------------------------Footer--------------------------------*/

    footer{

    }