/* CSS DOCUMENT */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}body{line-height:1;}ol, ul{list-style:none;}blockquote, q{quotes:none;}blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}img{width:100%;}


/*------------------------------Global Elements--------------------------------*/

:root{
    --black: #5D5D5D;
    --white: #f8f8f8;
    --blue: #11b3bc;
    --light-blue: #EAF3F3;
}

body{background-color: var(--white);}

h1{
    font-family: utopia-std-display, serif;
    font-weight: 700;
    font-size: 4.3rem;
    color: var(--white);
}

h2{
    font-family: utopia-std-display, serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.1;
    color: var(--black);
    margin-bottom: .8rem;
}

h3{
    font-family: utopia-std-display, serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--black);
    margin-bottom: .8rem;
}

h4{
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: .4rem;
}

h5{
    font-family: depot-new-web, sans-serif;
    font-weight: 200;
    font-size: .9rem;
    line-height: 1.6;
    color: #A7A7A7;
    margin-top: 1rem;
}

p, li, label{
    font-family: depot-new-web, sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--black);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    padding: .5rem 1rem;
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    color: var(--white);
    border: var(--white) solid .125rem;
    border-radius: 2.5rem;
    transition: ease .3s;
}

button:hover{
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
    transform: translateY(-.1em)
}

button:focus{outline: none;}

@media only screen and (max-width: 70rem){
    h1{font-size: 3.5rem}
    h2{font-size: 2.8rem}
    h3{font-size: 1.7rem}
    h4{font-size: 1rem}
}

@media only screen and (max-width: 50rem){
    h1{font-size: 3rem}
    h2{font-size: 2.7rem}
    h3{font-size: 1.4rem}
    p, li, label{font-size: 1rem;}
    button{font-size: .9rem;}
}

/*------------------------------Circles--------------------------------*/

.green-circle{
    opacity: .8;
    position: absolute;
    overflow: hidden;
    background-image: url(../assets/global/green-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotating 20s linear infinite;
}

.blue-circle{
    opacity: .7;
    position: absolute;
    overflow: hidden;
    background-image: url(../assets/global/blue-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotating 60s linear infinite;
}

/*------------------------------Menu--------------------------------*/

.menu-wrapper{
    z-index: 99;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
    transition: ease .3s;
}

.menu{
    padding: 0 3em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu img{
    display: none;
    width: 130px;
    transition: ease .3s;
}

@media only screen and (max-width: 50rem){
    .menu-wrapper{height: 70px;}
    .menu{padding: 0 1.5em;}
    .menu img{width: 100px;}
}

/* For Javascript to activate */
.js-menu-wrapper{
    background-color: #FFF;
    box-shadow: 0 .5em 2em rgba(0, 0, 0, 0.06);
}

.js-menu{justify-content: space-between;}

/*------------------------------Hero Section--------------------------------*/

.hero-wrapper{
    overflow: hidden;
    background-color: #1E6B89;
    background-image: url(../assets/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) 100%;
    background-size: contain;
}

.hero{
    margin: 0 auto;
    padding: 0 6em;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    min-height: 30em;
    max-height: 70em;
    max-width: 90em;
}

.hero .copy{
    animation: fade-in .8s ease-out 1;
    display: flex;
    position: relative;
}

.hero .copy img{
    width: 130px;
    margin-bottom: .5em;
}

.hero h1{
    color: var(--white);
    padding-bottom: .2em;
    max-width: 7em;
}

.hero p{
    color: var(--white);
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.8;
    max-width: 25em;
}

.hero .green-circle{
    height: 90vh;
    width: 90vh;
    left: -400px;
    top: 30vh;
}

.hero .blue-circle{
    height: 130vh;
    width: 130vh;
    left: -350px;
    top: -250px;
}

@media only screen and (max-width: 70rem){
    .hero-wrapper{background-position: calc(100% + 350px) 100%;}

    .hero p{font-size: 1.3rem}
}

@media only screen and (max-width: 50rem){
    .hero-wrapper{background-image: initial;}

    .hero{padding: 0 2em;}

    .hero .copy img{width: 90px;}

    .hero .green-circle{
        height: 700px;
        width: 700px;
        left: -300px;
        top: 300px;
    }

    .hero .blue-circle{
        height: 1000px;
        width: 1000px;
        left: -400px;
        top: -200px;
    }

    .hero p{font-size: 1.2rem}
}

/*------------------------------Features Section--------------------------------*/

.features-wrapper{
    background-color: var(--light-blue);
    position: relative;
}

.features{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 80rem;
}

.features .copy{
    padding-left: 4rem;
    flex-basis: 40%;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    max-width: 30rem;
}

.features .cards{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    padding: 15rem 4rem 15rem 3rem;
}

.card-popout{
    position: relative;
    max-width: 25rem;
    margin: 15rem auto 0;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2em 2em #0e585133;
}

.card-popout .card-copy{
    position: relative;
    padding: 6.5rem 2.2rem 2.2rem 2.2rem;
    background: #FFF;
    background: linear-gradient(0deg, #FFF 0%, #FFF 65%, rgba(255,255,255,0) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-1{
    margin-top: 0;
}

#card-1 img{
    width: 80%;
    margin: -6rem 0 -12rem 20%;
}

#card-2 img{
    width: 80%;
    margin: -6rem 0 -9rem 15%;
}

#card-3 img{
    width: 50%;
    margin: -6rem 0 -16rem 35%;
}

@media only screen and (max-width: 50rem){
    .features{
        display: block;
        padding-bottom: 8rem;
    }

    .features .copy{
        position: static;
        height: initial;
        padding: 6rem 2rem;
    }

    .features .cards{
        padding: 3rem 2rem 0;
    }

    .card-popout{
        margin-top: 11rem;
    }
}

/*------------------------------Employer Section--------------------------------*/

.employer-wrapper .copy-wrapper{
    max-width: 70rem;
    padding: 0 4rem;
    margin: 10rem auto;
}
.employer-wrapper .copy{
    width: 70%;
}

.employer-wrapper .cards-wrapper{
    background: linear-gradient(0deg, var(--white) 0%, var(--white) 15%, rgba(255,255,255,0) 100%), url(../assets/employer-section/pexels-christina-morillo-1181562.jpg);
    background-size: cover;
    background-position: 70% 100%;
}

.employer-wrapper .cards{
    max-width: 70rem;
    margin: 0 auto;
    padding: 8rem 4rem 3rem;
    display: flex;
    flex-direction: column;
}

.employer-wrapper #card-4{
    margin-top: -11rem;
}

.card-bubble{
    position: relative;
    max-width: 25rem;
    margin-top: 5rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2em 2em #41414133;
    padding: 3.5rem 2.2rem 2.2rem;
}

.card-bubble .bubble{
    vertical-align: middle;
    position: absolute;
    top: -15px;
    left: -10px;
    width: 30px;
    height: 30px;
    box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 50%;
}

.bubble img{height: 100%;}

#card-4 .bubble, #card-6 .bubble{background-color: #CEECE9;}

#card-5 .bubble{background-color: #D3EEEF;}

@media only screen and (max-width: 50rem){
    .employer-wrapper .copy-wrapper{
        margin: 0rem auto 4rem;
        padding: 25rem 2rem 0;
        background: linear-gradient(0deg, var(--white) 0%, var(--white) 35%, #ffffff00 100%), url(../assets/employer-section/pexels-christina-morillo-1181562.jpg);
        background-size: cover;
        background-position: 55% 10%;
    }

    .employer-wrapper .copy{
        max-width: 30rem;
        width: initial;
    }

    .employer-wrapper .cards-wrapper{background: initial;}

    .employer-wrapper .cards{padding: 0 2rem;}

    .employer-wrapper #card-4{margin-top: 0;}
}

/*------------------------------Testimonials Section--------------------------------*/

.testimonials-wrapper{
    overflow-x: hidden;
    position: relative;
}

.centered{
    margin: 10rem auto 0;
    padding: 0 3rem;
    text-align: center;
    max-width: 50rem;
    position: relative;
}

.testimonials-wrapper .blue-circle{
    animation: initial;
    height: 130vh;
    width: 130vh;
    right: -100px;
    top: -150px;
    opacity: .4;
    transform: rotate(160deg);
}

.partners-wrapper{
    display: flex;
    max-width: 70rem;
    margin: 12rem auto;
    padding: 0 4rem;
}

.partners-wrapper .copy{
    flex-basis: 50%;
    margin-right: 2rem;
}

.partners-wrapper img{
    height: 260px;
    width: 527px;
    padding: 1rem 0 1rem 4rem;
    flex-basis: 50%;
    border-left: #bebebe 1px solid;
}

@media only screen and (max-width: 70em) {
    .partners-wrapper{
        flex-direction: column;
        max-width: 40rem;
        padding: 0;
        margin: 10rem 4rem;
    }

    .partners-wrapper img{
        max-width: 400px;
        padding: 2.2rem 0;
        margin-top: 1rem;
        flex-basis: 50%;
        border-left: initial;
        border-top: #bebebe 1px solid;
    }
}

@media only screen and (max-width: 50em) {
    .partners-wrapper{
        margin: 10rem 2rem;
    }
}

.slider-wrapper{
    position: relative;
    max-width: 40rem;
    padding: 4rem 6rem 2rem 8rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 2em 2em #41414133;
    margin: 5rem auto;
}

.slider{
    position: relative;
}

.slider p{
    line-height: 2;
    margin-bottom: .8rem;
}

.slider-content-one::before, .slider-content-two::before, .slider-content-three::before, .slider-content-four::before{
    content: url(../assets/testimonial-section/quote-symbol.svg);
    position: absolute;
    left: -80px;
    top: -10px;
}

.slider-nav{
    display: flex;
    justify-content: center; 
}

.left-arrow, .right-arrow{
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 1.43em .8em;
}

.dots{
    margin-top: 2em;
    display: flex; 
}

.dot-active{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #000;
    margin: 0 .5em;
}

.dot-inactive{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #A7A7A7;
    margin: 0 .5em;
}

@media only screen and (max-width: 60em) {
    .slider-wrapper{
        max-width: initial;
        padding: 7rem 8% 2rem 8%;
        margin: 3rem 2rem 5rem;
    }

    .slider-content-one::before, .slider-content-two::before, .slider-content-three::before, .slider-content-four::before{
        left: 0;
        top: -85px;
    }
}

.slider-content-one{display: inline;}

.slider-content-two, .slider-content-three, .slider-content-four{display: none;}

/*For Javascript to activate*/
.slider-content-inactive{display: none;}

.slider-content-active{display: inline;}

/*------------------------------CTA--------------------------------*/

.cta-wrapper{
    background-color: #1E6B89;
    background-image: url(../assets/global/blue-circle.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.cta{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
    height: 90vh;
    max-width: 90em;
    max-height: 100em;
    min-height: 50em;
    column-gap: 6%;
}

.cta-image{
    grid-row: 1;
    grid-column: 1/3;
    transform-origin: right;
    transform: scale(1.1);
    transform-origin: bottom;
    align-self: center;
}

.cta-copy{
    grid-column: 3/5;
    grid-row: 1;
    margin-right: 4em;
    align-self: center;
    z-index: 1;
}

@media only screen and (max-width: 70rem){

    .cta-image{
        transform: scale(1.1) translateX(-2em);
    }

    .cta-copy{
        margin-right: 3em;
    }
}

@media only screen and (max-width: 50rem){
    .cta{
        grid-template-rows: 31em auto;
        margin: 0 auto 10vh;
        overflow-x: hidden;

    }

    .cta-image{
        transform: scale(1.2) translateX(-1em);
        transform-origin: top;
        grid-column: 1/-1;
        width: auto;
        height: 28em;
        margin: 1rem auto 0em;
        
    }

    .cta-copy{
        padding: 3rem 2rem 3rem;
        grid-column: 1/-1;
        grid-row: 2;
        margin: 0;
        align-self: end;
    }
}

/*------------------------------Team Section--------------------------------*/

.team-wrapper{
    margin: 10% auto 2rem;
    max-width: 70rem;
    padding: 4rem;
}

.team-wrapper h2{
    max-width: 30rem;
    margin-bottom: 5rem;
}

.two-column-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.team-member{
    max-width: 30rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    margin-bottom: 4rem;
    flex: 40%
}

.team-member img, .advisor img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.team-member .copy{
    margin-left: 2rem;
}

.team-member h3, .advisor h3{
    margin-bottom: .2rem;
}

.advisor-title{
    max-width: 30rem;
    border-bottom: #bebebe 1px solid;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 60rem){
    .two-column-wrapper{
        display: initial;
    }

}

@media only screen and (max-width: 50rem){

    .team-wrapper{
        padding: 2rem;
    }

    .team-member{
        margin-bottom: 3rem;
        margin-right: 0;
    }

    .team-member img{
        width: 5rem;
        height: 5rem;
    }
}

/*------------------------------Footer--------------------------------*/

footer{
    background-color: var(--light-blue);
    padding: 4rem;
    text-align: center;
}

footer .social{
    margin: 0 auto;
    max-width: 25em;
    width: 70%;
    position: static;
    padding: 2.5em 0 0;
}

footer img{
    width: 1.1rem;
    padding: 0 .9rem;
}

/*------------------------------Popup Section--------------------------------*/

.darken{
    display: none;
    transition: 0.4s ease-in-out;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
}

.popup{
    transform: translateY(120vh);
    transition: 0.6s ease-in-out;
    z-index: 101;
    overflow: auto;
    position: fixed;
    max-width: 52rem;
    max-height: 90vh;
    padding: 0 4rem 4rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -1em 2em #41414133;
}

.popup .nav, .popup .nav-min{
    width: calc(100% + 4rem);
    margin: 2rem -2rem;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.popup .nav-min{justify-content: flex-end;}

.popup p{
    margin-top: 1.5rem;
    max-width: 44rem;
}

.popup .nav img, .popup .nav-min img{
    height: 30px;
    width: 30px;
}

.popup .nav img:hover, .popup .nav-min img:hover{
    cursor: pointer;
}

input, textarea{
    margin-top: 1rem;
    border-radius: 2.5rem;
    border: rgb(175, 175, 175) solid .125rem;
    padding: .5rem 1rem;
    font-family: depot-new-web, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

textarea{
    width: 90%;
    max-width: 300px;
    margin-bottom: 1rem;
    border-radius: .5rem;
    resize: vertical;
    margin-right: 4rem;
    display: block;
}

input[type=submit]{
    background-color: var(--blue);
    border: var(--blue) solid .125rem;
    box-shadow: 0 .5rem 1rem #0a8d9467;
    transition: 0.4s ease-in-out;
    text-align: center;
    color: white;
    letter-spacing: .5px;
    text-transform: uppercase;
    cursor: pointer;
}

input:focus, textarea:focus{
    outline: none;
}

/* ----------- */

#individual-form-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.individual-user input{
    width: 200px;
    margin-top: 2rem;
}

.individual-user input[type=submit]{
    margin-left: -40px;
    width: 150px;
}

#employer-form-wrapper{
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: var(--black) 1px solid;
}

@media only screen and (max-width: 50em) {
    .popup{
        padding: 0 2rem 4rem;
    }

    .popup .nav, .popup .nav-min{
        width: 100%;
        margin: 2rem 0rem;
    }

    .popup .nav img{
        height: 25px;
        width: 25px;
    }
}

.employer-choice:hover, .individual-choice:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* For JS to activate */
.popup .nav, .employer-confirmation, .individual-confirmation, .employer-user, .individual-user{display: none;}
